  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@600&display=swap');

  /* font-family: 'Nanum Pen Script', cursive; */
body{ 
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    line-height: 1.5;
}
    
.logo{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
}

/*
    100 - thin
    200 - 엑스트라라잍
    300 - 라잇
    400  - 레귤
    500 - 미뎜
    600 - 세미볼ㄷ
    700 - bold
    800 - 엑스트라볼ㄷ
    900 - 블랙
*/

.container{
    width: 1110px;
    margin: 0 auto;
}



/* ## top */
.top{
    width: 100%;
    background-color: #333;
    color:#fff;
    font-weight: 600;
}

.top > .container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ## header ## */

    /* 박스 쉐도우가 아래 요소를 덮을 수도 있음? */
.header{
    width: 100%;
    height: 130px;
    border-bottom: 2px solid #eee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) ;
}

.header .logo_wrap{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

    /* # gnb # */
.gnb{
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

    /* 폐기 */
.gnb .cate{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 45px;
    /* 카테고리 살릴거면 gnb.ul{width} 줄이기*/
    display: none;
}

.gnb .cate i{
    font-size: 22px;
}

.gnb ul{
    display: flex;
    margin: 0 auto;
    width: 1000px; 
    justify-content: space-between;
}

.gnb .porn{
    display: flex;
    gap: 2px;
    align-items: center;
}
.gnb .porn img{
    margin-bottom: -2px;
    width: 17px;
}


/* # gnb2 # */
.gnb2{
    width: 100%;
    height: 100px; 
    background-color: #222;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}
.gnb2.show{
    opacity: 0.95;
    z-index: 2;
}


/* ## slider ## */
.slider_main{
    width: 1400px;
    margin: 0 auto;
    height: 405px;
    position: relative;
}

.slider_main .slides{
    
}

.slider_main img{
    width: 100%;
}

.slider_main .slide{
    position: relative;
}

    /* 포지션 relative를 slide_main한테 줬더니 가로값이 안먹혔음. 슬릭 슬라이드 때문인지 개발자 도구로 보니까 중간에 위드값이 정신 나간듯이 넓게 잡혀 있는 구간이 있었음. 그래서 렐러티브를 그냥 slide한테 주니깐 left가 먹히더라. 후,,,
      */
.slider_main .text{
    position: absolute;
    color: #fff;
    bottom: 60px;
    left: 140px;
    line-height: 1.5;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    /* z-index: 989999999999999999999999999; */
    /* margin-bottom: -100px; */
}

.slider_main .text p{
    font-weight: 300;
}

.slider_main .control i{
    /* 위치 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* 스타일 */
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid   #999;
    color: #888 ;
    font-size: 14px;
  
    text-align: center;
    line-height: 40px;
}

.slider_main .control i.prev{
    left: -25px;
}

.slider_main .control i.next{
    right: -25px;
}

/*  ## section_1 */
.section_1{
    margin: 100px 0;
    text-align: center;
}

.section_1 h3{
    font-weight: 600;
    margin-bottom: 25px;
}

.section_1 p{
    color: #777;
    font-weight: 300;
    margin-bottom: 30px;
}

.section_1 ul{
    display: flex;
    justify-content: space-between;
}

.section_1 li{
    border-radius: 15px;
    overflow: hidden;
}
.section_1 a:hover img{
    transform: scale(1.1)
}


/* ## section_2 */
.section_2{
    display: flex;
    margin-top: 150px;
    height: 400px;
}

.section_2 .left{
width: 320px;
}

.section_2 .left h3{
    font-weight: 600;
}

.section_2 .left p{
    font-weight: 300;
    color: #777;
    margin: 20px 0;
}

.section_2 .left .p2{
    font-weight: 300;
    color: #999;
}

.section_2 .left .time_limit{
    padding-left: 70px;
    position: relative;
}

.section_2 .left .time_limit::before{
    content: '';
    background-color: #333;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    left: 20px;
    top: 0;
}

.section_2 .left .time_limit::after{
    content: '';
    width: 8px;
    height: 8px;
    /* background-color: red; */
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;

    position: absolute;
    top: 6px;
    left: 35px;

    transform-origin: bottom left;
    transform: rotate(0deg);
}

.section_2 .right{
    flex: 1;
}

.section_2 .right ul{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}
.section_2 .right img{
    margin-bottom: 10px;
}

.section_2 .right p{
    font-weight: 600;
}

.section_2 .right .p3{
    color: #999;
    font-weight: 300;
    text-decoration: line-through;
}

.section_2 .right span{
    color: #FF7455;   
}

    /* 호버하며 줄거리 나오게 해도 될듯 */
.section_2 .photo{
    overflow: hidden;
}
.section_2 .photo img:hover{
    transform: scale(1.1)
}



/*  ## section_3 */
.section_3{
    text-align: center;
    margin: 100px 0;
}

.section_3 h3{
    font-weight: 600;
}

.section_3 p{
    font-weight: 300;
    color: #777;
    padding: 30px 0;
}

.section_3 ul{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 40px;
}
.section_3 li{
    overflow: hidden;
}
.section_3 a:hover img{
    transform: scale(1.1)
}



/*  ## footer */
.footer{
    width: 100%;
    background-color: #333;
    color: #fff;
}

.footer > .container{
    display: flex;
    height: 300px;
    justify-content: space-between;
}

.footer .left .sns ul{
    display: flex;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer .left .sns li:nth-child(1) a:hover{
    display: block;
    border-radius: 5px;
    background-color: rgb(83, 85, 242);
}
.footer .left .sns li:nth-child(2) a:hover{
    display: block;
    border-radius: 5px;
    background: linear-gradient(to right, #D83283, #FF95C8);
}
.footer .left .sns li:nth-child(3) a:hover{
    display: block;
    border-radius: 5px;
    background-color: rgb(245, 77, 77);
}
.footer .left .sns li:nth-child(4) a:hover{
    display: block;
    border-radius: 3px;
    background-color: rgb(20, 104, 28);
}

.footer .left p{
    font-weight: 400;
}

.footer .left .p3 {
    font-weight: 300;
    margin-bottom: 20px;
}

.footer .left .p2{
    font-weight: 300;
    margin-bottom: 35px;
} 

.footer .right {
    height: 200px;
    width: 240px;
    margin: auto 0;
    padding-left: 40px;
    border-left: 2px solid #444;
}

.footer .right p{
    font-weight: 400;
}

.footer .right h5{
    font-weight: 400;
    margin: 20px 0;
}

.footer .right .texts{
    padding-bottom: 10px;
}

.footer .right .p2{
    font-weight: 300;
}


.footer .right {}