/* 전체적으로 사이즈가 너무 크다. 줄이자 */

.gnb.gnb2.show {
  display: none;
}

/* hero */
.hero {
  width: 100%;
  height: 590px;
  background-color: #ffb169;
  position: relative;
  z-index: -2;
}

.hero .background {
  position: absolute;
  bottom: -65px;
  height: 300px;
  width: 100%;
  background: url(../images/event/event_2_bg.png);
  background-repeat: repeat-x;
  background-position: center;
  z-index: -1;
}

/* 당근 */
.carrot {
  /* display: flex; */
  /* justify-content: center; */
  margin: 0 auto;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
}

.carrot li {
  position: relative;
  width: 33px;
  height: 102px;
  top: 25px;
}

.carrot li img {
  width: 33px;
  position: absolute;
  top: 0;
  left: 0;
}

.carrot li:nth-child(1) img {
  top: 0;
  left: 20px;
  rotate: -20deg;
}
.carrot li:nth-child(2) img {
  top: 2px;
  left: 5px;
  rotate: 10deg;
}
.carrot li:nth-child(3) img {
  top: -5px;
  left: 0;
  rotate: -30deg;
}
.carrot li:nth-child(4) img {
  top: -10px;
  left: 0;
  rotate: 20deg;
}
.carrot li:nth-child(5) img {
  top: 30px;
  left: 0px;
  rotate: 15deg;
}
.carrot li:nth-child(6) img {
  top: -20px;
  left: 10px;
  rotate: -20deg;
}
.carrot li:nth-child(7) img {
  top: -10px;
  left: 0;
  rotate: 20deg;
}
.carrot li:nth-child(8) img {
  top: -12px;
  left: 0;
  rotate: 30deg;
}
.carrot li:nth-child(9) img {
  top: -12px;
  left: 0;
  rotate: 30deg;
}

/*  */
.hero h2 {
  text-align: center;
  padding-top: 90px;
  margin-bottom: 30px;
  color: #ff7c32;
  line-height: 1.3;
}

.hero h2 span {
  color: #ff4848;
}

.hero p {
  text-align: center;
  color: #ff5757;
  font-weight: 600;
}

.hero h4 {
  text-align: center;
  margin-top: 30px;
}

/*  */
.section {
  height: 500px;
  background-color: #ffa04a;
}

.section ul {
  display: flex;
  justify-content: center;
  gap: 90px;
}

.section li {
  width: 290px;
}

.section img {
  width: 100%;
  display: block;
}

.section .btn {
  width: 150px;
  height: 45px;
  border-radius: 12px;
  background-color: #ff4f37;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  cursor: pointer;
}
