

/* 전체적으로 사이즈가 너무 크다. 줄이자 */

/* hero */
.hero{
    width: 100%;
    height: 975px;
    background-color: #ffb169;
    position: relative;
}

.hero .background{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: url(../images/event/event_1_bg.png);
        background-repeat: repeat-x;
}


.hero h1{
    margin: 0 auto;
    padding-top: 160px;
    margin-bottom: 40px;
    width: 640px;
    color:#ff7c32; 
    line-height: 1.3;
}

.hero h1 span{
    color: #ff4848;
}

.hero h5 {
    text-align: center;
    color: #ff5757;
    font-weight: 600;
}

.hero h2{
    text-align: center;
    margin-top: 90px;
}


.section{
    height: 880px;
    background-color: #ffa04a;
}

.section ul {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.section .btn{
    width: 260px;
    height: 66px;
    border-radius: 20px;
    background-color: #ff4f37;
    color : #fff ;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px auto;
    cursor: pointer;
}