/* ## 타이틀 랩 ##*/
.title_wrap {
  margin-top: 85px;
}

.title_wrap h3 {
  text-align: center;
}

.time_wrap {
  width: 100%;
  background-color: #f0f0f0;
  margin: 50px 0;
  /* position: relative; */
}

.hurry {
  padding-top: 50px;
  /* background-color: red; */
}

.title_wrap p {
  text-align: center;
  margin: 25px;
}

.title_wrap .time_wrap .p2 {
  padding-bottom: 50px;
}

.clock_wrap {
  width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 시간제한 */
.title_wrap .time_icon {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: -10px;
  left: -10px;
  background-color: #333;
}

.title_wrap .time_icon .hour {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 9px;
  background-color: #fff;
}

.title_wrap .time_icon .min {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 8px;
  height: 2px;
  background-color: #fff;

  transform-origin: 0% 50%;
  /* transform: rotate(0deg); */
  transition: all 1.3s;
}

.title_wrap .time_icon {
}

.title_wrap {
}
.title_wrap {
}
.title_wrap {
}
.title_wrap {
}

/*## 섹션 ###*/
.section {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.section .item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.section .item .contents {
}

.section .item .contents {
  display: flex;
  gap: 100px;
}

.section .item .contents a p {
  font-weight: 600;
}

.section .item .contents a p:first-child {
  padding-top: 10px;
}

.section .item .contents a .p3 {
  color: #999;
  font-weight: 300;
  text-decoration: line-through;
}

.section .item .contents a span {
  color: #ff7455;
}

.section .item .contents > p {
  width: 750px;
}

.section .item {
}
.section .item {
}
