/*  ##   foorer ## */

.footer .container {
  width: 1110px;
  margin: 0 auto;
}

.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
}

.footer .logo {
  color: #fff;
  /* background-color: #D83283; */
}

.footer > .container {
  display: flex;
  height: 300px;
  justify-content: space-between;
}

.footer .left .sns ul {
  display: flex;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.footer .left .sns ul li {
  /* border: 1px solid #fff; */
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .left .sns ul li:nth-child(2) {
  width: 18px;
  padding-right: 2.5px;
}

.footer .left .sns ul li a {
  display: block;
}

.footer .left .sns li:nth-child(1):hover {
  background-color: rgb(83, 85, 242);
}

.footer .left .sns li:nth-child(2):hover {
  background: radial-gradient(
      circle farthest-corner at 32% 106%,
      #ffe17d 0%,
      #ffcd69 10%,
      #fa9137 28%,
      #eb4141 42%,
      transparent 82%
    ),
    linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
}

.footer .left .sns li:nth-child(3):hover {
  background-color: rgb(245, 77, 77);
  height: 17px;
}

.footer .left .sns li:nth-child(4):hover {
  background-color: rgb(2, 150, 22);
}

.footer .left p {
  font-weight: 400;
}

.footer .left .p3 {
  font-weight: 300;
  margin-bottom: 20px;
}

.footer .left .p2 {
  font-weight: 300;
  margin-bottom: 35px;
}

.footer .right {
  height: 200px;
  width: 240px;
  margin: auto 0;
  padding-left: 40px;
  border-left: 2px solid #444;
}

.footer .right p {
  font-weight: 400;
}

.footer .right h5 {
  color: #fff;
  font-weight: 400;
  margin: 20px 0;
}

.footer .right .texts {
  padding-bottom: 10px;
}

.footer .right .p2 {
  font-weight: 300;
}

.footer .right {
}
