


/* ## 작품소개  */
.info_wrap{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

/* 줄거리 등 */
.info{
    display: flex;
    gap: 35px;
    justify-content: center;
}

.info_wrap .star{
    margin: 10px 0;
    color: #F97939;
}

.info_wrap .p2 span{
    font-weight: 600;
}

.info_wrap .p2{
    font-weight: 400;
    color: #333;
}

.info_wrap .p3{
    width: 592px;
    margin: 15px 0 ;
    font-weight: 400;
    color: #777;
}

/* 연재주기 & 연령제한 */
.info_wrap .cycle{
    margin: 40px auto;
    display: flex;
    gap: 250px;
    border: 5px solid #ddd;
    padding: 20px 140px;
    position: relative;
}

.info_wrap .cycle::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ## 연재목록 */
.list{
    width: 880px;
    margin: 0 auto;
    /* margin-bottom: 40px; */
}

.list .title h6{
    padding-left: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    font-weight: 600;
}

.novel_list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #f0f0f0;
}

.novel_list .texts{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.viewmore{
    width: 800px;
    background-color: #fff;
    border: 1px solid #999;

    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
    margin: 20px auto ;
}